---
import { changeLanguage } from "i18next";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TimeLineElement from "../../components/cv/TimeLine.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("en");

const educationList = t("cv.education-list", { returnObjects: true });
const projectsList = t("cv.projects-list", { returnObjects: true });
const skillsList = t("cv.skills-list", { returnObjects: true });
const languagesList = t("cv.languages-list", { returnObjects: true });
console.log({ skillsList });
---

<BaseLayout title = "Resume">
  <div class="flex justify-end gap-4">
    <a class="btn btn-sm btn-outline" href="/cv-doneberdev-web-developer.pdf" download="cv-doneberdev-web-developer" type="button">
      Download
    </a>
    <a class="btn btn-sm btn-outline" href="https://flowcv.com/resume/eevk7vfmfl" target="_blank" type="button">
      Online
    </a>
  </div>
  
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{ t("cv.profile") }</div>
  </div>

  <div class="mb-10 text-justify">
    { t("cv.profile-description") }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{ t("cv.projects")}</div>
  </div>

  <div class="time-line-container mb-10">
    {
      projectsList.map((item) => 
        <TimeLineElement
          title={item.title}
          subtitle={item.subtitle}
        />
      )
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.efset.org/cert/DxtNKG" target="_blank">JavaScript</a>
    </li>
    <li>
      <a href="https://certiprof.com/pages/scrum-foundation-professional-certificate-sfpc-en-sp" target="_blank"> Scrum Foundation Professional Certificate (SFPC)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{ t("cv.skills") }</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    {
      skillsList.map((item) => 
        <li>{item}</li>
      )
    }
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{t("cv.education")}</div>
  </div>
  <div class="time-line-container grid gap-4 mb-10">
    {
      educationList.map((item) => 
            <TimeLineElement
              title={item.title}
              subtitle={item.subtitle}
            />
      )
    }
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">{ t("cv.languages") }</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    {
      languagesList.map((item) => 
        <li>{item}</li>
      )
    }
  </ul>


</BaseLayout>
