---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { projects } from "./../../gh_projects_data/projects.json";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const postEntries = await getCollection('project');
    return postEntries.map(entry => ( { 
        params: { slug: entry.slug }, props: { entry },
    } ));
}
const projectPosts = await getStaticPaths()

// capitalize, split by '-' the word
const formatProjectName = (name) => {
  const auxName = name.split("-")
  auxName.forEach((word,index) => {
    auxName[index] = word.charAt(0).toUpperCase() + word.slice(1);
  })
  return auxName.join(" ")
}

const hasBlog = (name) => {
  return projectPosts.some((post) => {
    return post.params.slug == name
  })
}
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-1">Hey!</div> -->
    <div class="text-5xl font-bold">Doneber Dev</div>
    <div class="text-3xl py-3 font-bold">Desarrollador Web</div>
    <div class="py-2">
      <text class="text-lg">
        Me especializo en el desarrollo frontend. Me gusta crear aplicaciones que ayuden a las personas. Además, hago videos en YouTube, escribo artículos para mi blog y creo contenido en mis otras redes sociales.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:doneber.dev@gmail.com" target="_blank">
        ¡Contactame!</a
      >
      <!-- <a href="https://github.com/manuelernestog/astro-modern-personal-website" target="_blank" class="btn btn-outline ml-5"> Get This template</a> -->
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Proyectos 📌</div>
  </div>
  <div class="card-wrapper">
    {
      projects.map((project) => (
        <>
          <HorizontalCard
            title={formatProjectName(project.name)}
            img={`/screens/${project.image}`}
            desc={project.description || ""}
            url={project.homepage_url}
            repo_url={project.repo_url}
            blog_url={hasBlog(project.name) ? `project/${project.name}` : null}
            target={hasBlog(project.name)? '_self': '_blank'}
          />
        </>
      ))
    }
  </div>
</BaseLayout>

<style>
  .card-wrapper {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
</style>
